.sonarqube
.idea
.fake
.dockerignore
.env
.git
.gitignore
.vsg
.vscode
.editorconfig

CodeCover
aws
reports
docs
scripts
static
tools

buddy.yml
build.fsx.lock
coverage.xml
docker-compose*.yml

*.md
hosts
LICENSE
*.testsettings
**/bin/
**/obj/
**/node_modules/
**/bower_components/
**/wwwroot/lib/
global.json
**/appsettings.localhost.json
Web/WebSPA/wwwroot/
packages/
test-results/
TestResults/
Mobile/